#DON'T SHOW DIRECTORY LISTINGS
Options -Indexes

ErrorDocument 400 /cloudstorage/pages/error.php
ErrorDocument 401 /cloudstorage/pages/error.php
ErrorDocument 403 /cloudstorage/pages/error.php
ErrorDocument 404 /cloudstorage/pages/error.php
ErrorDocument 405 /cloudstorage/pages/error.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteRule ^$ pages/home.php
RewriteRule ^home$ pages/home.php
RewriteRule ^documents$ pages/documents.php
RewriteRule ^shares$ pages/shares.php

RewriteRule ^beheer$ admin/pages/dashboard.php
RewriteRule ^beheer/login$ admin/pages/login.php
RewriteRule ^beheer/dashboard$ admin/pages/dashboard.php
RewriteRule ^beheer/producten$ admin/pages/producten.php
RewriteRule ^beheer/bestellingen$ admin/pages/orders.php

DirectoryIndex index.php

<FilesMatch "\.(ini|psd|log|sh|png)$">
Order allow,deny
Deny from all
</FilesMatch>
